/* global css styles */

@media only screen and (max-width: 375px) {

/* start css navigation */

.logo h1 {
  display: none;
}

.logo {
  margin-left: 16px;
  height: 32px;
  width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.navigation a {
  display: none;
}

.navigation .nav-responsive {
  display: inline;
  margin-left: 50px;
  cursor: pointer;
}

/* end css navigation */

/* start css jumbotron-one */

.jumbotron-one {
  padding-top: 32px;
  width: 100%;
  background-color: #F9F3E5;
  display: flex;
  flex-direction: column;
}

.banner-left {        /* also use for jumbotron-two */
  width: 100%;
  margin: 32px 0px;
}

.banner-right {       /* also use for jumbotron-two */
  width: 100%;
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-right-copy {
padding-top: 0px;
margin-bottom: 40px;
}

.banner-right-copy h2 {
  padding-bottom: 1.8rem;
  font-size: 2rem;
  color: #55198B;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

.banner-right-copy h3 {
  font-size: 1.3rem;
  line-height: 2rem;
  color: #4C4C4C;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.banner-right-button {
  background-color: #55198B;
  width: 70%;
  margin-bottom: 32px;
}

.banner-right-button:hover {
  background-color: #404040;
  width: 70%;
}

.banner-right-button h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 8px 0;
  color: #ffffff;
}

/* start css jumbotron-two */

.jumbotron-two {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}

.no-banner {
  display: none;
}

.banner-right-links {
  display: flex;
  flex-direction: column;
}

.banner-right-links img {
  padding-left: 16px;
  margin: 0 16px 16px 0;
  height: auto;
  width: 90%;
}

.banner-right-links-copy p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.75rem;
  margin-bottom: 2px;
  color: #4A4A4A;
}

.img-1 {
  display: none;
}

.img-2 {
  display: block;
  padding-top: 16px;
}

.banner-right-links-copy {
  width: 90%;
  text-align: center;
}

.banner-right-links-special {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.banner-right-links-special img {
  padding-left: 16px;
  margin: 16px 16px 16px 0;
  height: auto;
  width: 35%;
}

.banner-right-links-copy-special p {
  font-family: 'Raleway', sans-serif;
  line-height: 1.75rem;
  margin-bottom: 2px;
  color: #4A4A4A;
}

.banner-right-links-copy-special {
  color: white;
  width: 65%;
  text-align: center;
}

.banner-right-links-copy-special h4 {
  font-family: 'Alfa Slab One', cursive;
  color:#404040;
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.banner-right-links-copy-special span {
  font-family: 'Raleway', sans-serif;
  color: #55198B;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-right-links-copy-special span a {
  color: #55198B;
}

.banner-right-links-copy-special span:hover {
  text-decoration: underline;
}

/* end css jumbotron-two */

/* start css jumbotron-three */

.jumbotron-three {
  background-color: #F9F3E5;
  margin-top: 32px;
}

.jumbotron-three h2 {
  padding-top: 32px;
  font-size: 2rem;
  color: #55198B;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

.banner-center {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  /* align-content: space-between;
  flex-wrap: wrap; */
}

.cards {
  /* height: 60px; */
  margin-bottom: 8px;
  width: 100%;
  background-color: #404040;
}

.cards:hover {
  /* height: 60px; */
  margin-bottom: 8px;
  width: 100%;
  background-color: #55198B;
}

.cards img {
  display: none;
}

.cards h4 {
  font-family: 'Alfa Slab One', cursive;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1rem;
  text-align: center;
  letter-spacing: .1rem;
  padding-left: 16px;
  color: white;
}

.cards p {
  display: none;
  /* font-size: .85rem;
  line-height: 1.25rem;
  padding-left: 16px;
  padding-bottom: 24px;
  font-family: 'Raleway', sans-serif; */
}

p.upper {
  display: none;
  /* text-transform: uppercase;
  font-size: 1rem;
  padding-left: 16px;
  padding-bottom: 8px;
  font-family: 'Raleway', sans-serif;
  color: #55198B; */
}

/* end css jumbotron-three */

/* start css jumbotron-four */

.thesis h2 {
  padding-top: 32px;
  font-size: 2rem;
  color: #55198B;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
}

.banner-left h5 {
  display: none;
  /* padding-top: 32px;
  padding-bottom: 8px;
  font-size: 1.5rem;
  color: #55198B;
  font-family: 'Alfa Slab One', cursive;
 */
 }

.banner-left p {
  display: none;
}

.no-banner-right {
  display: none;
}

/* end css jumbotron-four */

/* start css footer */

.footer-copy {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 24px;
}

.fine-print {
  display: none;
}

/* end css footer */

/** end of media queries

}
